<template>
  <div>
    <section><NavBar /></section>
    
    <div class="container">
      <Nuxt />
    </div>
  </div>
</template>

<script>
  import NavBar from "@/components/NavBar";
  export default {
    components: {
      NavBar
    }
  }
</script>
