<template>
    <div class="container">
      <Nuxt />
    </div>
</template>

<style scoped>
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
</style>
