<template>
    <section>
        <h1>Ошибка 404</h1>
        <NuxtLink to="/">Home</NuxtLink>
    </section>
</template>

<style scoped>
    h1{
        color: red;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>