<div class="post">
    <h2>Post title</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam eveniet nulla maiores mollitia neque sit, nisi voluptatum fuga quidem. Ab quis ratione, minima nihil quibusdam voluptates voluptatem iste ipsum animi.</p>
</div>